
@for (cineclub of cineclub; track cineclub){


{{cineclub.id_Cineclub}}  {{cineclub.numberOfCineclub}}   {{cineclub.title}}<br>
<mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      {{cineclub.id_Cineclub}}<br>
      {{cineclub.numberOfCineclub}}<br>
      {{cineclub.title}}<br>
      {{cineclub.movie_1.name}}<br>
      <img [src]="cineclub.movie_1.UrlIMG" class="image"/>
      {{cineclub.movie_1.rating}}<br>
      {{cineclub.movie_1.synopsis}}<br>
      {{cineclub.movie_1.year}}<br>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">>
        {{cineclub.movie_2.name}}<br>
        <img [src]="cineclub.movie_2.UrlIMG" class="image"/>
        {{cineclub.movie_2.rating}}<br>
        {{cineclub.movie_2.synopsis}}<br>
        {{cineclub.movie_2.year}}<br>
    </mat-grid-tile>
    
    <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">>{{cineclub.movie_3.name}}<br>
        <img [src]="cineclub.movie_3.UrlIMG" class="image"/>
        {{cineclub.movie_3.rating}}<br>
        {{cineclub.movie_3.synopsis}}<br>
        {{cineclub.movie_3.year}}<br>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">{{cineclub.movie_4.name}}<br>
        <img [src]="cineclub.movie_4.UrlIMG" class="image"/>
        {{cineclub.movie_4.rating}}<br>
        {{cineclub.movie_4.synopsis}}<br>
        {{cineclub.movie_4.year}}<br>
    </mat-grid-tile>
</mat-grid-list>
}

