main{
    color: #87FF00;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
img{
    width: 250px;
}
app-commentarycineclub{
    width: 90%;
}
.detailsFilm{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 2%
}
.blocFilms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}