
DDYDLS_CineClubDb/DDYDLS_CineClubDb.jfm
DDYDLS_CineClubDb/DDYDLS_CineClubDb.dbmdl
.vs/DDYDLS_CineClub/v17/.futdcache.v2
.vs/DDYDLS_CineClub/v17/.futdcache.v2
.vs/DDYDLS_CineClub/v17/.suo
.vs/ProjectEvaluation/ddydls_cineclub.metadata.v6.1
.vs/ProjectEvaluation/ddydls_cineclub.projects.v6.1
*.vsidx
*.vsidx
*.v2
*.jfm
*.v2
*.jfm
*.dbmdl
