Bonjour {{Username}}

Vous avez noté {{MonthL}} de films ce mois-ci

Vous avez noté {{YearL}} de films cette année

Vous avez noté {{Lenght}} de films au total 

Vos 5 dernieres Notes :

<div *ngFor="let rating of listRatings"  >
    <p class="commentaire">{{ rating.commentary }}</p>
    <p>NOTE : {{ rating.ratings }}</p>
    <img mat-card-image src="/assets/icons/OeufGreen.png" *ngIf=" rating.approbate  == 1">
    <img mat-card-image src="/assets/icons/OeufRed.png" *ngIf=" rating.approbate  == 0">
    <p>----------------------------</p>    
</div>