<p>Titre du cineclub</p> 
<p>numero du cineclub</p>
<p>Date de début</p>
<p>Date de fin</p>
<p>Film 1</p>
<p>Film 2</p>
<p>Film 3</p>
<p>Film 4</p>

<mat-stepper linear #stepper>
    <mat-step [stepControl]="DetailsFormGroup" errorMessage="Name is required.">
      <form [formGroup]="DetailsFormGroup">
        <ng-template matStepLabel>Choisissez le nom du Cinéclub</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Nom du Cinéclub" formControlName="nameCineclub" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>numéro du cinéclub</mat-label>
            <input matInput placeholder="Numéro du Cinéclub" formControlName="numberCineclub" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="rangeFormGroup" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Start date" required>
              <input matEndDate formControlName="end" placeholder="End date" required>
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
            @if (rangeFormGroup.controls.start.hasError('matStartDateInvalid')) {
              <mat-error>Invalid start date</mat-error>
            }
            @if (rangeFormGroup.controls.end.hasError('matEndDateInvalid')) {
              <mat-error>Invalid end date</mat-error>
            }
          </mat-form-field>
          
          <p>Selected range: {{rangeFormGroup.value | json}}</p>
        <div>
          <button mat-button matStepperNext [disabled]="!DetailsFormGroup.valid || !rangeFormGroup.valid" >Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstMovieFormGroup" [editable]="!DetailsFormGroup.valid || !rangeFormGroup.valid">
      <form [formGroup]="firstMovieFormGroup">
        <ng-template matStepLabel>Film 1</ng-template>
        <mat-form-field>
          <mat-label>1er film</mat-label>
          <input matInput placeholder="Titre du film" formControlName="moviename"  [(ngModel)]="moviename" required>
          <button mat-raised-button type="submit" (click)="openDialog(moviename,0)" style="color: #87FF00; background-color: #333031" > Chercher le film</button>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <div *ngIf="result[0]" class="blocResult"> {{result[0].title}}
        <img [src]="URLimg[0]" class="image"/>
        <p>{{result[0].overview}}</p>
    </div>
    </mat-step>
    <mat-step [stepControl]="secondMovieFormGroup" >
        <form [formGroup]="secondMovieFormGroup">
          <ng-template matStepLabel>Film 2</ng-template>
          <mat-form-field>
            <mat-label>2ere film</mat-label>
            <input matInput placeholder="Titre du film" formControlName="movie2name"  [(ngModel)]="movie2name" required>
            <button mat-raised-button type="submit" (click)="openDialog(movie2name,1)" style="color: #87FF00; background-color: #333031" > Chercher le film</button>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
        <div *ngIf="result[1]" class="blocResult"> {{result[1].title}}
          <img [src]="URLimg[1]" class="image"/>
          <p>{{result[1].overview}}</p>
      </div>
      </mat-step>
      <mat-step [stepControl]="thirdMovieFormGroup">
        <form [formGroup]="thirdMovieFormGroup">
          <ng-template matStepLabel>Film 3</ng-template>
          <mat-form-field>
            <mat-label>3eme film</mat-label>
            <input matInput placeholder="Titre du film" formControlName="movie3name"  [(ngModel)]="movie3name" required>
            <button mat-raised-button type="submit" (click)="openDialog(movie3name,2)" style="color: #87FF00; background-color: #333031" > Chercher le film</button>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
        <div *ngIf="result[2]" class="blocResult"> {{result[2].title}}
          <img [src]="URLimg[2]" class="image"/>
          <p>{{result[2].overview}}</p>
      </div>
      </mat-step>
      <mat-step [stepControl]="fourMovieFormGroup">
        <form [formGroup]="fourMovieFormGroup">
          <ng-template matStepLabel>Film 4</ng-template>
          <mat-form-field>
            <mat-label>4eme film</mat-label>
            <input matInput placeholder="Titre du film" formControlName="movie4name"  [(ngModel)]="movie4name" required>
            <button mat-raised-button type="submit" (click)="openDialog(movie4name,3)" style="color: #87FF00; background-color: #333031" > Chercher le film</button>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
        <div *ngIf="result[3]" class="blocResult"> {{result[3].title}}
          <img [src]="URLimg[3]" class="image"/>
          <p>{{result[3].overview}}</p>
      </div>
      </mat-step>
      <mat-step [stepControl]="bonusMovieFormGroup">
        <form [formGroup]="bonusMovieFormGroup">
          <ng-template matStepLabel>Film bonus</ng-template>
          <mat-form-field>
            <mat-label>film bonus</mat-label>
            <input matInput placeholder="Titre du film" formControlName="movie5name"  [(ngModel)]="movie5name" >
            <button mat-raised-button type="submit" (click)="openDialog(movie5name,4)" style="color: #87FF00; background-color: #333031" > Chercher le film</button>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
    <div *ngIf="result[4]" class="blocResult"> {{result[4].title}}
      <img [src]="URLimg[4]" class="image"/>
      <p>{{result[4].overview}}</p>
    </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmation</ng-template>
      <button mat-button>Confirmer</button>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>