<div class='modal'>
 <h1>{{movie.movie.name}}</h1>

  <h2>Combien d'oeufs lui donnez vous ?</h2>
  <img mat-card-image src="/assets/icons/OeufNB.png"   *ngIf="ratingSelectionned == 0" (click)="onClickRating(1)">
  <img mat-card-image src="/assets/icons/OeufBlue.png" *ngIf="ratingSelectionned >= 1" (click)="onClickRating(1)">
  <img mat-card-image src="/assets/icons/OeufNB.png"   *ngIf="ratingSelectionned <= 1" (click)="onClickRating(2)">
  <img mat-card-image src="/assets/icons/OeufBlue.png" *ngIf="ratingSelectionned >= 2" (click)="onClickRating(2)">
  <img mat-card-image src="/assets/icons/OeufNB.png"   *ngIf="ratingSelectionned <= 2" (click)="onClickRating(3)">
  <img mat-card-image src="/assets/icons/OeufBlue.png" *ngIf="ratingSelectionned >= 3" (click)="onClickRating(3)">
  <img mat-card-image src="/assets/icons/OeufNB.png"   *ngIf="ratingSelectionned <= 3" (click)="onClickRating(4)">
  <img mat-card-image src="/assets/icons/OeufBlue.png" *ngIf="ratingSelectionned >= 4" (click)="onClickRating(4)">
  <img mat-card-image src="/assets/icons/OeufNB.png"   *ngIf="ratingSelectionned <= 4" (click)="onClickRating(5)">
  <img mat-card-image src="/assets/icons/OeufBlue.png" *ngIf="ratingSelectionned >= 5" (click)="onClickRating(5)">
  <img mat-card-image src="/assets/icons/OeufNB.png"   *ngIf="ratingSelectionned <= 5" (click)="onClickRating(6)">
  <img mat-card-image src="/assets/icons/OeufBlue.png" *ngIf="ratingSelectionned >= 6">
  <h2>Le recommandez vous ?</h2>
  <img mat-card-image src="/assets/icons/OeufGreen.png" *ngIf="Reco == 0 || Reco == 1" (click)="onClickRecom(1)">
  <img mat-card-image src="/assets/icons/OeufNB.png" *ngIf="Reco == 2" (click)="onClickRecom(1)">
  <img mat-card-image src="/assets/icons/OeufRed.png" *ngIf="Reco == 0 || Reco == 2" (click)="onClickRecom(0)">
  <img mat-card-image src="/assets/icons/OeufNB.png" *ngIf="Reco == 1" (click)="onClickRecom(0)">
  <h2>Commentaire</h2>
  <form class="example-form">
    <div class="form">
      <textarea matInput #message  maxlength="256" placeholder="Message"></textarea>
      <div class="caraMax">
        <p>caractères maximum</p>
        <p>{{message.value.length}} / 256</p>
      </div>
    </div>
  </form>

<div mat-dialog-actions class="boxButtons">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button mat-dialog-close cdkFocusInitial *ngIf="!AddOrUpdate"(click)="validateRating(message.value)" style="color: #87FF00; background-color: #242423" >Valider ma note</button>
  <button mat-button mat-dialog-close cdkFocusInitial *ngIf="AddOrUpdate" (click)="validateRating(message.value)" style="color: #87FF00; background-color: #242423" >Modifier ma note</button>
</div>
</div>