.mat-dialog
{
    background-color: black;
}
.mat-dialog-content
{
    opacity: 90%;
}
.mat-card-image{
    width: 10%;
    height: 10%;
    display: inline;
}
img{
  max-width: 15vw;
}

mat-dialog-container{
    background-color: aliceblue;
  }

.modal{
    padding: 5%;
    max-height: 95vh;
    background-color: #333031;
    color: #87FF00;
  }

form{
  height: 30vh;
}
mat-form-field{
  min-height: 25vh;
  width: 100%;
  background-color: #525351;
}
h2{
  font-size: 20px;
}
h1{
  text-align: center;
  margin: 0;
}
.boxButtons{
    display: flex;
    justify-content: space-between;
}
button{
  background-color: #FFEA2C;
  padding: 2%;
}