 
  .example-container {
    flex: 1 1 auto;
    height: 100%;
    max-width: 100%;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-raised-button{
    margin: 0.4%;
  }
  ::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgb(47 17 17 / 60%);
}
.sidenav{
  width: 25%;
}

.languageList{
  width: 20%;
  margin-bottom: 20%;
}
.flag{
  margin-top: 5%;
}
::ng-deep .cdk-overlay-0 .mat-select-0-panel .mat-select-panel{
  width: 20%;
}

.footerNav{
  margin-top: 190%;
}
