<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/home']"> 
  <mat-icon>home</mat-icon>
</button>


<button mat-button [matMenuTriggerFor]="belowMenu">Films</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Liste</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Cinéclub</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<button *ngIf="isConnected" [routerLink]="['/user']">Utilisateur</button>
<button *ngIf="!isConnected" mat-button [routerLink]="['/connexion']">Connexion</button>
<button *ngIf="isConnected" mat-button (click)="clearSession()" [routerLink]="['/connexion']">Déconnexion</button>


