<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/home']"> 
  <mat-icon>home</mat-icon>
</button>


<button mat-button [matMenuTriggerFor]="belowMenu">Films</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Liste</button>
</mat-menu>

<button mat-button >Cinéclub</button>
<mat-icon *ngIf="isConnected" >person</mat-icon>
<button *ngIf="!isConnected" mat-button [routerLink]="['/connexion']">Connexion</button>

<button mat-button *ngIf="isConnected" [matMenuTriggerFor]="beforeMenu">{{Username}}</button>
<mat-menu #beforeMenu="matMenu"  xPosition="before">
  <button mat-menu-item [routerLink]="['/user']">Profil</button>
  <button mat-menu-item (click)="clearSession()" [routerLink]="['/connexion']">Déconnexion</button>
</mat-menu>



