<mat-card>
    <mat-card-header>
        <mat-card-title>
            Titre du film
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="movieFG" (ngSubmit)="openDialog('0ms', '0ms')">
            <mat-form-field appearance="fill">
            <mat-label> Titre du film</mat-label> <input formControlName="name"  matInput>
            </mat-form-field>                                    
            <br>
            <button mat-raised-button type="submit" [disabled]="movieFG.invalid"> Chercher le film</button>
        </form>
    </mat-card-content>
</mat-card>

