<main>
    <button (click)="AddMovie()" > Ajouter ce film  </button>
    <div *ngIf="result"> {{result.name}}
        <img [src]="URLimg" class="image"/>
        {{result.overview}}
    </div>
    <div>
        <h1>
            Ajouter un film
        </h1>
        <div class="form">
            <mat-form-field appearance="fill">
            <mat-label> Titre du film</mat-label> <input [(ngModel)]="moviename" matInput>
            </mat-form-field>                                    
            <button mat-raised-button type="submit" (click)="openDialog()" style="color: #87FF00; background-color: #333031" > Chercher le film</button>
        </div>
    </div>
</main>
