<main>
    <div>
        <h1>
            Titre du film
        </h1>
        <form [formGroup]="movieFG" (ngSubmit)="openDialog('0ms', '0ms')">
            <mat-form-field appearance="fill">
            <mat-label> Titre du film</mat-label> <input formControlName="name"  matInput>
            </mat-form-field>                                    
            <button mat-raised-button type="submit" [disabled]="movieFG.invalid" style="color: #87FF00"> Chercher le film</button>
        </form>
    </div>
</main>

