mat-grid-tile {
    background: rgb(200, 229, 162);
  }
  .image {
    width : 40%; height : 100%;
    margin-top: 5%;
    
  }

  p {
    text-align: left;
    margin-left: 0%;
    align-items: left;
    justify-content: left;
  }

  .mat-grid-tile-content {
    top: 0;
    left: 0;
    right: 5%;
    bottom: 0;
    position: absolute;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
}

.mat-dialog-container{
  background-color: aliceblue;
}