
<title>{{movie.name}}</title>
<h1>TITRE  : {{movie.name}}</h1>
<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile><img [src]="URLimg"/></mat-grid-tile>
    <mat-grid-tile>
        <p>ANNEE :  {{result.results[0].release_date}} <br>

        <a *ngIf="isConnected && movie.ratingForUser != 10" >MA NOTE :  {{movie.ratingForUser}}</a><br>
        
        NOTE YOSHI : {{movie.avgRating}}<br>
        
        <button *ngIf="isConnected && movie.ratingForUser != 10" mat-raised-button (click)="openDialog('0ms', '0ms')" >Modifer ma note</button> 
        <button *ngIf="isConnected && movie.ratingForUser == 10" mat-raised-button (click)="openDialog('0ms', '0ms')" >Ajouter ma note</button> </p>

    </mat-grid-tile>
    
    
  </mat-grid-list>

  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile><p>SYNOPSIS : {{result.results[0].overview}}</p></mat-grid-tile>
  </mat-grid-list>
  







