<main>
  <title>{{movie.name}}</title>
  <h1>{{movie.name}} ( {{movie.EN_name}} ) </h1>
  <article cols="3" rowHeight="3:2" class="blocDetails">
      <div class="blocImg backgroundBloc">
            <img [src]="URLimg" class="image" alt="affiche du film {{movie.name}}"/>
      </div>
      <div class='DetailsMoviecontent backgroundBloc'>
        <p>Année de sortie : {{movie.year}}</p>

        <a *ngIf="isConnected && movie.ratingForUser != 10" >Ma note :  {{movie.ratingForUser}}/6</a>
        <div class="notes">
          <span>
            <p>Moyenne :</p> 
            <p>{{movie.avgRating}}/6</p>
          </span>
          <span>
            <p>Note exterieur :</p> 
            <p>{{movie.avgratingEXT?.toFixed(2)}}/6</p>
          </span>
        </div>
        <button *ngIf="isConnected && movie.ratingForUser != 10" mat-raised-button (click)="openDialog('0ms', '0ms')" style="color: #FE277E; background-color: #242423" >Modifer ma note</button> 
        <button *ngIf="isConnected && movie.ratingForUser == 10" mat-raised-button (click)="openDialog('0ms', '0ms')" style="color: #FE277E; background-color: #242423;" >Ajouter ma note</button> 
      </div>
    
    <div class="blocSyn backgroundBloc"><p>{{movie.synopsis}}</p></div>
  </article>
  <app-commentary class="blocCommentaire"></app-commentary>
</main>




