<mat-card class="base-card">
    <mat-card-header>
        <mat-card-title style="font-size: 25px;">Liste des films</mat-card-title>
        <button mat-stroked-button color="accent" [routerLink]="['add']"> Ajouter un film</button>
    </mat-card-header>
    <mat-card-content>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 marginTop">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="base-card" style="font-size: 20px;"> Titre </th>
      <td mat-cell *matCellDef="let movie" class="base-card" style="font-size: 15px;"> {{movie.name}} </td>
    </ng-container>

    <!-- year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef style="font-size: 20px;"> Année </th>
      <td mat-cell *matCellDef="let movie" class="base-card"> {{movie.year}} </td>
    </ng-container>

    <!-- details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let movie" ><button mat-stroked-button color="accent" [routerLink]="['/movies',movie.id_Movie]"> Details</button> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="base-card"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="base-card"></tr>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of movies"></mat-paginator>
  </table>
</mat-card-content>
</mat-card>
  