<aside>

        <h2>Changer le mot de passe</h2>
        <form [formGroup]="passwordFG" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                <mat-label> Mot de passe </mat-label> 
                <input  formControlName="newPassword" type="password" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                <mat-label> Confirmer le nouveau mot de passe</mat-label><input  formControlName="confirmPassword" type="password" matInput>
                </mat-form-field>
                <button mat-raised-button type="submit" [disabled]="passwordFG.invalid || passwordFG.value.newPassword !== passwordFG.value.confirmPassword" style="color: #87FF00; background-color: #242423;">{{'Changer le mot de passe' }}</button>
        </form>
        <button [mat-dialog-close] mat-raised-button style="color: #87FF00; background-color: #242423;">Annuler</button>
</aside>