<main>
    <h1>Inscription</h1>
    <form [formGroup]="loginFG">
        <mat-form-field appearance="fill">
            <label for="Mail">Adresse Mail</label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label> 
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label for="Mdp">Mot de passe</label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label for="Mdp">Mot de passe</label>
            <input type="text" matInput>
        </mat-form-field>
    </form>
    <button mat-raised-button style="color: #87FF00; background-color: #242423;">S'inscrire</button>
</main>
